PINATA_API_KEY=fbcec8ddd91c22c8319e
PINATA_SECRET_API_KEY=e2f084189e85d758e8290dcf375ba3c5b5b0bfb350870616c4dc7e6f14e55c66
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJhYThjNjk4OC00MmY1LTQ5N2MtOGFmZC1kOTZkOTJmMjQwNWQiLCJlbWFpbCI6ImNvYmFiYmxlbWVAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siaWQiOiJGUkExIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9LHsiaWQiOiJOWUMxIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6ImZiY2VjOGRkZDkxYzIyYzgzMTllIiwic2NvcGVkS2V5U2VjcmV0IjoiZTJmMDg0MTg5ZTg1ZDc1OGU4MjkwZGNmMzc1YmEzYzViNWIwYmZiMzUwODcwNjE2YzRkYzdlNmYxNGU1NWM2NiIsImlhdCI6MTcwODAxNzM0Nn0.Tu7fHsWTXm81iRuDIgb56YDpDmUzd7BOHLYx3iql0gQ
WALLET_PRIVATE_KEY=
CONTRACT_ADDRESS=0x7517FfAfF0F6C48c702eaA5eDEd5950c6fE2053b